@{
    ViewData["Title"] = "Media";
    Layout = "~/Views/Tutor/_Layout.cshtml";
}


<div class="tu-boxsm">
    <div class="tu-boxsmtitle">
        <h4>Media gallery</h4>
        @* <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#popup-3">Add/Edit</a> *@
        <a href="javascript:void(0)" onclick="$('#media-form').css('display','block')">Add/Edit</a>
    </div>
</div>
<div class="tu-box">
    <div id="media-form" style="display:none" >
        <form class="tu-themeform">
            <fieldset>
                <div class="tu-themeform__wrap">
                    <div class="form-group">
                        <label class="tu-label">Upload gallery</label>
                        <div class="tu-uploadphoto">
                            <i class="icon icon-grid"></i>
                            <h5>Drag or <input type="file" id="file3"><label for="file3">click here</label> to upload photo</h5>
                            <p>Your file size does not exceed 5MB and dimensions 1200px width and height 1200px. you can upload max up to 15 media items</p>
                            <svg><rect width="100%" height="100%"></rect></svg>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="tu-label">Upload via video URL</label>
                        <div class="tu-placeholderholder">
                            <div class="tu-appendbtn">
                                <input type="url" class="form-control tu-input-field" placeholder="add youtube or any other video url">
                                <div class="tu-placeholder">
                                    <span>Add youtube, vimeo or any other valid video URL</span>
                                    <em>*</em>
                                </div>
                                <a href="javascript:void(0);" class="tu-primbtn-sm">Add to gallery</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <ul id="st_sortableh" class="tu-thumbnails">
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-01.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-02.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-03.jpg" alt="image">
                                    </figure>
                                    <i class="fas fa-play"></i>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-04.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-05.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-06.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-07.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-08.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-09.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-03.jpg" alt="image">
                                    </figure>
                                    <i class="fas fa-play"></i>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-11.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content tu-thumbnails_loading">
                                    <figure>
                                        <img src="images/popup/thumnails/img-12.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-13.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-14.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tu-thumbnails_content">
                                    <figure>
                                        <img src="images/popup/thumnails/img-15.jpg" alt="image">
                                    </figure>
                                    <div class="tu-thumbnails_action">
                                        <span><i class="icon icon-trash-2"></i></span>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="form-group tu-formbtn">
                        <a href="profile-setting-e.html" class="tu-primbtn-lg">Save & update changes</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tu-slider-holder">
        <div id="tu_splide" class="tu-sync splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <figure class="tu-sync__content">
                            <a class="tu-themegallery" data-gall="gall" href="/images/tutordetail/slider/img-01.jpg">
                                <img src="/images/tutordetail/slider/img-01.jpg" alt="Image Description">
                            </a>
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-sync__content">
                            <a class="tu-themegallery" data-vbtype="video" data-gall="gall" href="https://www.youtube.com/watch?v=XxxIEGzhIG8" data-autoplay="true">
                                <img src="/images/tutordetail/slider/img-02.jpg" alt="Image Description">
                                <span class="tu-servicesvideo"></span>
                            </a>
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-sync__content">
                            <a class="tu-themegallery" data-gall="gall" href="/images/tutordetail/slider/img-03.jpg">
                                <img src="/images/tutordetail/slider/img-03.jpg" alt="Image Description">
                            </a>
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-sync__content">
                            <a class="tu-themegallery" data-gall="gall" href="/images/tutordetail/slider/img-04.jpg">
                                <img src="/images/tutordetail/slider/img-04.jpg" alt="Image Description">
                            </a>
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-sync__content">
                            <a class="tu-themegallery" data-gall="gall" href="/images/tutordetail/slider/img-05.jpg">
                                <img src="/images/tutordetail/slider/img-05.jpg" alt="Image Description">
                            </a>
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-sync__content">
                            <a class="tu-themegallery" data-gall="gall" href="/images/tutordetail/slider/img-06.jpg">
                                <img src="/images/tutordetail/slider/img-06.jpg" alt="Image Description">
                            </a>
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-sync__content">
                            <a class="tu-themegallery" data-gall="gall" href="/images/tutordetail/slider/img-07.jpg">
                                <img src="/images/tutordetail/slider/img-07.jpg" alt="Image Description">
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
        <div id="tu_splidev2" class="tu-syncthumbnail splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <figure class="tu-syncthumbnail__content">
                            <img src="/images/tutordetail/slider/thumbnails/img-01.png" alt="Image Description">
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-syncthumbnail__content">
                            <span class="tu-servicesvideo"></span>
                            <img src="/images/tutordetail/slider/thumbnails/img-02.png" alt="Image Description">
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-syncthumbnail__content">
                            <img src="/images/tutordetail/slider/thumbnails/img-03.png" alt="Image Description">
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-syncthumbnail__content">
                            <img src="/images/tutordetail/slider/thumbnails/img-04.png" alt="Image Description">
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-syncthumbnail__content">
                            <img src="/images/tutordetail/slider/thumbnails/img-05.png" alt="Image Description">
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-syncthumbnail__content">
                            <img src="/images/tutordetail/slider/thumbnails/img-06.png" alt="Image Description">
                        </figure>
                    </li>
                    <li class="splide__slide">
                        <figure class="tu-syncthumbnail__content">
                            <img src="/images/tutordetail/slider/thumbnails/img-07.png" alt="Image Description">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tu-btnarea-two">
    <span>Save & update the latest changes to the live</span>
    <a href="profile-setting-a.html" class="tu-primbtn-lg tu-primbtn-orange">Save & update</a>
</div>

<div class="modal fade" id="popup-3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Add/edit media gallery</h5>
                <a href="javascript:void(0);" class="tu-close" data-bs-dismiss="modal" aria-label="Close"><i class="icon icon-x"></i></a>
            </div>
            <div class="modal-body">
                <form class="tu-themeform">
                    <fieldset>
                        <div class="tu-themeform__wrap">
                            <div class="form-group">
                                <label class="tu-label">Upload gallery</label>
                                <div class="tu-uploadphoto">
                                    <i class="icon icon-grid"></i>
                                    <h5>Drag or <input type="file" id="file3"><label for="file3">click here</label> to upload photo</h5>
                                    <p>Your file size does not exceed 5MB and dimensions 1200px width and height 1200px. you can upload max up to 15 media items</p>
                                    <svg><rect width="100%" height="100%"></rect></svg>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="tu-label">Upload via video URL</label>
                                <div class="tu-placeholderholder">
                                    <div class="tu-appendbtn">
                                        <input type="url" class="form-control tu-input-field" placeholder="add youtube or any other video url">
                                        <div class="tu-placeholder">
                                            <span>Add youtube, vimeo or any other valid video URL</span>
                                            <em>*</em>
                                        </div>
                                        <a href="javascript:void(0);" class="tu-primbtn-sm">Add to gallery</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <ul id="st_sortableh" class="tu-thumbnails">
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-01.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-02.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-03.jpg" alt="image">
                                            </figure>
                                            <i class="fas fa-play"></i>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-04.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-05.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-06.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-07.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-08.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-09.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-03.jpg" alt="image">
                                            </figure>
                                            <i class="fas fa-play"></i>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-11.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content tu-thumbnails_loading">
                                            <figure>
                                                <img src="images/popup/thumnails/img-12.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-13.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-14.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tu-thumbnails_content">
                                            <figure>
                                                <img src="images/popup/thumnails/img-15.jpg" alt="image">
                                            </figure>
                                            <div class="tu-thumbnails_action">
                                                <span><i class="icon icon-trash-2"></i></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="form-group tu-formbtn">
                                <a href="profile-setting-e.html" class="tu-primbtn-lg">Save & update changes</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



