@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@* <h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>
 *@


<main>
    <div class="tu-main-login">
        <div class="tu-login-left">
            <strong>
                <a href="index.html"><img src="/images/login/logo_white.png" alt="images"></a>
            </strong>
            <figure>
                <img src="/images/login/img-01.png" alt="images">
            </figure>
            <div class="tu-login-left_title">
                <h2>Yes! we’re making progress</h2>
                <span>every minute & every second</span>
            </div>
        </div>
        <div class="tu-login-right">
            <div class="tu-login-right_title">
                <h2>Dont worry!</h2>
                <h3>We’ll send you the reset link</h3>
            </div>
            <form class="tu-themeform tu-login-form" method="post">
                <fieldset>
                    <div class="tu-themeform__wrap">
                        <div class="form-group-wrap">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" asp-for="Input.Email" placeholder="Enter email address">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                                @* <a href="login.html" class="tu-primbtn-lg"><span>Send reset link</span><i class="icon icon-arrow-right"></i></a> *@
                            </div>
                            <div class="tu-lost-password form-group">
                                <a asp-page="./Login">Login now</a>
                                <a asp-page="./Register">Join us today</a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}


